APP_TIMEZONE=America/Santiago
COMMON_TELEMETRY_SOURCE=synthetic_generator
WINDOW_LENGTH_SECONDS=120
WINDOW_STRIDE_SECONDS=60
MAX_MISSING_RATIO=0.20
LATE_EVENT_TOLERANCE_SECONDS=10
MIN_EVENTS_PER_WINDOW=10
DISCARD_WINDOW_IF_QUALITY_BELOW=0.80
